@using UtilityExtensions
@model CmsWeb.Areas.People.Models.CellPhoneInfo
<div class="form-group">
    @Html.LabelFor(m=> m, new { @class = "control-label nwrap"})
    <div class="controls">
        <p>@Model.Number.FmtFone() @(Model.ReceiveText ? " +SMS" : "")</p>
    </div>
</div>
