@model string
<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "control-label"})
    <div class="controls">
        @Html.PasswordFor(m => m)
        @Html.ValidationMessageLabelFor(m => m)
    </div>
</div>
